*{margin: 0px; padding: 0px;}
#all{
	width: 900px;
	min-height: 100px;
	border: 5px double black;
	margin: 0px auto;
}
#header{
	width: 860px;
	height: 100px;
	border: 1px solid #070707;
	margin: auto;
	margin-top: 20px;
}
#center{
	width: 860px;
	height: 150px;
	background-color: #FB7E7E;
	margin: 20px ;
}